<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.branch.adeshmukh.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="amrutademo" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="amrutademo.app.link" />
                <data android:scheme="https" android:host="amrutademo-alternate.app.link" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_ofzxayHNMVwRWado4K6GzjcmAAgo0a2a" />
         <!--<meta-data android:name="io.branch.sdk.BranchKey.test"-->
             <!--android:value="key_test_adEsnrMUKLwN3bpc0TW94jfhBEgf5a4u" />-->
        <!-- <meta-data android:name="io.branch.sdk.TestMode" android:value="true" /> -->
        <!--<meta-data-->
            <!--android:name="com.facebook.sdk.ApplicationId"-->
            <!--android:value="@string/facebook_app_id" />-->

        <!--<provider-->
            <!--android:name="com.facebook.FacebookContentProvider"-->
            <!--android:authorities="com.facebook.app.FacebookContentProvider1828101894173881"-->
            <!--android:exported="true" />-->

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RedActivity"
            android:label="@string/title_activity_red"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="io.branch.sdk.auto_link_path" android:value="movie/*" />
        </activity>
    </application>

</manifest>